In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import scipy.stats as ss
from scipy.interpolate import interp1d
from scipy.special import expit
from fractions import Fraction
from empiricaldist import Pmf, Cdf
import matplotlib.pyplot as plt
from collections import Counter
import statsmodels.formula.api as smfa

In [4]:
table = pd.DataFrame(index = ['Bowl 1', 'Bowl 2'])
table['prior'] = 1/2, 1/2
table['likelihood'] = 3/4, 1/2
table['unnorm'] = table['prior'] * table['likelihood']
# P(D)의 개념, 1/P(D)가 Normalizing Constant로 연결
prob_data = table['unnorm'].sum()
table['posterior'] = table['unnorm'] / prob_data

In [5]:
table

        prior  likelihood  unnorm  posterior
Bowl 1    0.5        0.75   0.375        0.6
Bowl 2    0.5        0.50   0.250        0.4

In [6]:
table2 = pd.DataFrame(index=[6, 8, 12])
table2['prior'] = Fraction(1, 3)
table2['likelihood'] = Fraction(1, 6), Fraction(1, 8), Fraction(1, 12)

In [7]:
table2

   prior likelihood
6    1/3        1/6
8    1/3        1/8
12   1/3       1/12

In [8]:
def update(table):
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return table

In [9]:
update(table2)

   prior likelihood unnorm posterior
6    1/3        1/6   1/18       4/9
8    1/3        1/8   1/24       1/3
12   1/3       1/12   1/36       2/9

In [10]:
table3 = pd.DataFrame(index=['D1', 'D2', 'D3'])
table3['prior'] = Fraction(1, 3)
table3['likelihood'] = Fraction(1, 2), 1, 0

In [11]:
update(table3)

   prior likelihood unnorm posterior
D1   1/3        1/2    1/6       1/3
D2   1/3          1    1/3       2/3
D3   1/3          0      0         0